*{
    margin: 0;
    padding: 0;
}

@mixin slides {
    background-color: black;
    color: blanchedalmond;  
    margin-top: 0.5rem;
    &-head{
        font-weight: 700;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }

    &-slidebar{
        display: flex;
        overflow-x: auto;
        width: 380px;
        height: 185px;    
        
        &::-webkit-scrollbar{
            display: none;
        }

        &-options{
            width: 150px;
            flex-shrink: 0;
            height: 100%;

            &-images{
                height: 8.5rem;
            }
    
            &-text{
                font-size: 0.6rem;  
                font-weight: 300;               
            }    
        }
    }    
}

body{
    height: 200vh;
    background-color: wheat;
}

.container{
    font-family: 'Roboto', sans-serif;    
    width: 100%; 
    background-color: black; 
    height: 361.5vh;        
}

.header{
    display: flex;
    flex-direction: column; 
    &-main{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 6vh;
        color: blanchedalmond;
        background-color: black;
        font-weight: 700;
        background-image: linear-gradient(to right bottom,
        rgb(72, 65, 161),
        black);        

        &-greet{
            flex: 0 0 85%;
            position: relative;
            left: 1rem;
        }

        &-starticons{
            display: flex;
            flex: 0 0 15%;
            justify-content: space-between;
            position: relative;
            right: 1rem;            
        }
    }
    
    &-musics{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 28%);
        grid-gap: 0.2rem;        
        height: 25vh;    
        background-color: black;        
        
        &-option{                
            height: 3rem;                   
            background-color: rgba(255, 251, 251, 0.13);
            box-shadow: 0 2rem 5rem rgba(39, 39, 39, 0.151);
            display: flex;
            flex: 0 0 50%;     
            color: blanchedalmond;
            align-items: center;
            border-radius: 5px;
            font-size: 0.8rem;
            font-weight: 500;
            margin: 0 0.3rem;
            &-images{
                height: 48px;
                flex: 0 0 30%
            }

            &-text{
                flex: 0 0 80%;
                margin-left: 0.5rem;
            }
        }
    }
}

.navigation-first{
    @include slides();
}

.navigation-second{
    @include slides();
}

.navigation-third{
    @include slides() ;
}

.navigation-fourth{
    @include slides() ;
}

.navigation-fifth{
    @include slides() ;
}

.navigation-sixth{
    @include slides();
}

.navigation-seventh{
    @include slides();
}

.navigation-eighth{
    @include slides() ;
}

.navigation-ninth{
    @include slides() ;
}

.navigation-tenth{
    @include slides() ;
}

.footers{
    color: blanchedalmond;
    background-color: rgb(54, 53, 53);
    margin-top: 1rem; 
    padding: 0.8rem;  
    
    &-bars{
        display: flex;
        justify-content: space-around;
        align-items: center;        
    }
}